*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 22px;
}

.contenedor{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,auto);
    grid-template-areas: "header1 header1 header1"
                         "contenido1 contenido1 contenido1"
                         "contenido2 contenido2 contenido2"
                         "contenido3 contenido3 contenido3"
                         "contenido4 contenido4 contenido4"
                         "footer footer footer";
}

.header{
    width: 100%;
    position: fixed;
    background-color: black;
    grid-area: header1;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.header > .logo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.header > .logo > #logo{
    width: 40%;
   
}
.header > .contenedorNav {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    justify-content: center;
}

.header > .contenedorNav > .navegacion > a{
    margin: 8px;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-family: "Scheherazade New",'MedievalSharp';
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}

.header > .contenedorNav >.navegation > a:link{
    color: white;
}
.header > .contenedorNav > .navegacion >a:hover{
    font-size: 1.2rem;
}
.header > .contenedorNav > .navegacion >a:visited{
    color: white;
}

.header > .covid{
    display: flex;
    background-color: #CDCDCD;
    justify-content: center;
}

.header > .covid > .texto{
    font-size: 0.7rem;
    text-align: center;
    font-family: 'Scheherazade New', "Oswald", serif;
}
.contenedorMain{
    grid-column-start: contenido1;
    grid-column-end: contenido4;
    grid-row-start: contenido1;
    grid-row-end: contenido4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;

}
.contenido1{
    margin-top: 170px;
    width: 100%;
    background-image: url("../img/fondo1.jpg");
    background-size:cover;
}

.contenido1 > .mensajeBienvenida{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.contenido1 > .mensajeBienvenida > .contenedorMensaje{
    text-align: center;
    font-family: 'Scheherazade New', "Oswald", serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 40%;
    margin: 5px;
    padding: 5px;
    font-size: 0.9rem;
}

.contenido1 > .mensajeBienvenida > .contenedorMensaje > .contenedorMensaje1{
    background-color: black;
    color: white;
    width: 80%;
}

.contenido1 > .mensajeBienvenida > .contenedorMensaje > .contenedorMensaje2{
    border-bottom: 2px solid black;
}

.contenido1 > .mensajeBienvenida > .contenedorImagen {
    width: 60%;
    margin-top: 70px;
}

.contenido1 > .mensajeBienvenida > .contenedorImagen > img{
    width: 100%;

}

.contenedorMain > .contenido2{
    background-color: rgba(0,0,0,1);
    width: 100%;
}

.contenido2 > .servicios{
    font-family: 'Scheherazade New', "Oswald", serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}

.contenido2 > .servicios > .contenedorImagenesYTexto{
    border: 3px solid black;
    width: 25%;
    padding-bottom:40px ;
    padding-top: 30px;
}

.contenido2 > .servicios > .contenedorImagenesYTexto > .imagenYTexto{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.contenido2 > .servicios > .contenedorImagenesYTexto > .imagenYTexto > a{
    text-align: center;
    color: white;

}
.contenido2 > .servicios > .contenedorImagenesYTexto > .imagenYTexto > a > .linkServicios{
    width: 85%;
    border:6px solid white;
    border-radius: 200px;
}
.contenido2 > .servicios > .contenedorImagenesYTexto > .imagenYTexto > .textoLink{
    border-bottom: 3px solid white;
    font-size: 1.2rem;
}

.contenedorMain >.contenido3{
    grid-area: contenido3;
    background-image: url("../img/fondo1.jpg");
    background-size: cover;
}

.contenedorMain > .contenido3 >.contenedorTextoSomos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.contenedorMain > .contenido3 >.contenedorTextoSomos > .imagenSomos{
    width: 50%;
    padding: 30px;
}

.contenedorMain > .contenido3 >.contenedorTextoSomos > .textoSomos{
    width: 50%;
    padding: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Scheherazade New', "Oswald", serif;
}

.contenedorMain > .contenido3 > .contenedorTextoSomos > .imagenSomos> #somos{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Scheherazade New', "Oswald", serif;

}

.contenedorMain > .contenido3 >.contenedorTextoSomos > .imagenSomos > img{
    width: 100%;
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Scheherazade New', "Oswald", serif;
    font-size: 1rem;
}

.footer > .redesSociales{
    padding: 20px;
}

.footer > .redesSociales >a > .fab {
    color: white;
}
